
<h2>Nouvelle fiche de paie</h2>

<%= form_with(model: @payslip, url: company_payslips_path(@company), local: false) do |form| %>
  <%= form.label :employee_id, "Employé :" %>
  <%= form.collection_select :employee_id, @company.employees.distinct, :id, :lastname_with_firstname %>
  <%= form.label :performance_id, "Spectacle :" %>
  <%= form.collection_select :performance_id, @company.performances, :id, :name %>
  <%= form.label :contract_start, "Date de début de contrat :" %>
  <%= form.date_field :contract_start %>
  <%= form.label :contract_end, "Date de fin de contrat :" %>
  <%= form.date_field :contract_end %>
  <%= form.submit %>
<% end %>
