<div class="navbar_container">
  <div id="navbar_title">
    <%= link_to "/", class: "home_icon" do %>
      <h1>
        <i class="fa-brands fa-redhat"><small>Cachetons</small></i>
      </h1>
    <% end %>
  </div>

  <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>

  <% if user_signed_in? %>
    <% unless params == {"controller"=>"companies", "action"=>"index"} %>
      <nav class="navbar_links">
        <ul>
          <% case params[:controller] %>
          <% when "companies" %>
            <li><%= link_to "Vos structures", companies_path %></li>
          <% when "job_profiles" %>
            <li><%= link_to "Vos structures", companies_path %></li>
            <li><%= link_to "Vos modèles", job_profiles_url unless params[:action] == "index" %></li>
          <% when "employees" %>
            <li><%= link_to "Vos structures", companies_path %></li>
            <li><%= link_to @employee.company.name, company_path(@employee.company.id) %></li>
          <% when "payslips" %>
            <li><%= link_to "Vos structures", companies_path %></li>
            <% case params[:action] %>
            <% when "index" %>
              <li><%= link_to @company.name, company_path(@company.id) %></li>
            <% when "show" %>
              <li><%= link_to @payslip.company.name, company_path(@payslip.company.id) %></li>
              <li><%= link_to "Liste des fiches de paye", company_payslips_path(@payslip.company.id) %></li>
            <% end %>
          <% end %>
        </ul>
      </nav>
    <% end %>
    <h2><%= current_user.email %></h2>
    <div class="navbar_user_links">
      <ul>
        <li><%= link_to "Vos modèles", job_profiles_url, class: "dropdown-item" %></li>
        <%# <li><%= link_to "Vos cotisations", contributions_url, class: "dropdown-item" %><!--/li> TODO <-->
        <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
      </ul>
    </div>
  <% end %>
</div>
