<div id="companies_board_container">
  <h1>
    Vos structures
  </h1>
  <% if @companies.present? %>
    <ul>
      <% @companies.each do |company| %>
        <li>
          <div class="company_card">
            <%= link_to company.name, company_path(company) %>
            <p>
              <%= company.specialty %>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      Vous n'avez encore enregistré aucune structure.
    </p>
  <% end %>
    <div id="new_company_button">
      <button data-controller="add-company-button">+</button>
    </div>
    <div id="new_company_form">
    <%= simple_form_for(@company) do |f| %>
      <%= f.input :name, label: "Nom" %>
      <%= f.input :siret, label: "SIRET" %>
      <%= f.input :naf, label: "Code NAF" %>
      <%= f.input :address, label: "Adresse" %>
      <%= f.input :license_number, label: "Numéro de license" %>
      <%= f.button :submit, "Ajouter une structure", class: "company_create_form_button" %>
    <% end %>
  </div>
</div>
