<div id="job_profiles_index_container">
  <div id="job_profiles_list">
    <% if @job_profiles.present? %>
      <%= "Vos modèles :" %>
        <ul>
          <% @job_profiles.each do |job_profile| %>
            <li>
              <%= link_to job_profile_url(job_profile.id), class: "payslip_card" do %>
                <%= "#{job_profile.name} ( #{job_profile.artist? ? "artiste" : "non-artiste"} #{job_profile.executive? ? "cadre" : "non-cadre"} )"%>
              <% end %>
            </li>
          <% end %>
        </ul>
    <% else %>
      <%= "pas de modèle enregistré" %>
    <% end %>
  </div>
  <div>
    <%= link_to "Nouveau modèle de fiche de paie", new_job_profile_url %>
  </div>
</div>
